body {
  text-align: center;
  background-color: rgba(7, 7, 59, 0.897);
}

h1,
h2 {
  color: bisque;
}

#level-title {
  font-size: 4rem;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}
.container {
  display: block;
  width: 50%;
  margin: auto;
}
.start {
  font-size: 3rem;
  font-family: "Press Start 2P", cursive;
  margin: 5%;
}
.btn {
  margin: 25px;
  display: inline-block;
  height: 400px;
  width: 400px;
  border: 10px solid black;
  border-radius: 20%;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}
